<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.AdminMapper">
    <resultMap id="adminMap" type="com.example.entity.Admin">
        <result column="teacher_ID" property="teacher_ID"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="tele" property="tele"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
    </resultMap>

    <select id="selectByteacher_ID" resultMap="adminMap">
        SELECT * FROM `admin` WHERE teacher_ID = #{teacher_ID}
    </select>

    <!-- 其他查询也要使用 resultMap -->
    <select id="selectAll" resultMap="adminMap">
        SELECT * FROM `admin`
        <where>
            <if test="teacher_ID != null">
                AND teacher_ID LIKE CONCAT('%', #{teacher_ID}, '%')
            </if>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY teacher_ID ASC
    </select>

    <insert id="insert" parameterType="com.example.entity.Admin">
        INSERT INTO `admin`(teacher_ID, name, password, tele, gender, age)
        VALUES (#{teacher_ID}, #{name}, #{password}, #{tele}, #{gender}, #{age})
    </insert>

    <update id="updateByteacher_ID" parameterType="com.example.entity.Admin">
        UPDATE `admin`
        <set>
            name = #{name},
            <if test="password != null and password != ''">password = #{password},</if>
            tele = #{tele},
            gender = #{gender},
            age = #{age}
        </set>
        WHERE teacher_ID = #{teacher_ID}
    </update>

    <delete id="delByteacher_ID">
        DELETE FROM `admin` WHERE teacher_ID = #{teacher_ID}
    </delete>

    <delete id="delBatch">
        DELETE FROM `admin` WHERE teacher_ID IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
